<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org">
<head>
    <title>Ecommerce - Login</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="login-page">
    <div class="form">
        <h1>Spring Auth Server</h1>
        <h2>Login</h2>
        <div class="error" th:if="${param.error}">
            Email ou senha incorreto.</div>
        <div class="error" th:if="${param.logout}">
            Deslogado com sucesso.</div>
        <form  class="login-form" th:action="@{/login}" method="post">
            <div>
                <input type="text" name="email" placeholder="Email"/>
            </div>
            <div>
                <input type="password" name="password" placeholder="Senha"/>
            </div>
            <input class="button" type="submit" value="Login" />
        </form>
    </div>
</div>
</body>
</html>